.navbar {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @mixin hover {
    background-color: var(--mantine-color-gray-1);
    cursor: pointer;

    .linkIcon {
      color: var(--mantine-color-white);
    }
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-filled);

      .linkIcon {
        color: var(--mantine-color-blue-filled);
      }
    }
  }
}

.linkIcon {
  color: var(--mantine-color-blue-1);
  margin-right: var(--mantine-spacing-sm);
}